/* Estilos para la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(80deg, #202B20, #015967) ;
    height: 90vh;
  }
  .root {
    max-width: 800px;
    margin: 7px auto;
    padding: 20px;
  }
  .navbar {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
  }
  
  #postText{
    
      /* background-color: #4CAF50; */
  border-radius: 30px;
  text-align: center;
  width: 100%;
  height: 180px;
  font-size: 18px;
  resize: none;
  /*Resize opcion de ampliar*/
  }

 h1{
  color: white;
  text-align: center;
 }
  h2{
    color:white;
  }
  .inic{
    color: #000;
  }
  .regis{
    color: #000;
  }
  .description{
   color: white;
   text-align: center;
   font-size:18px;
}


  .selectFile{
  display: inline-block;
  padding: 2px;
  
  border-radius: 4px;
  background-color: #fff;
  color: #555;
  font-size: 14px;
  width: 100%;
  width: 280px;
  transition: border-color 0.3s ease;
}
  
  .selectFile:hover,
  
  .selectFile::file-selector-button {
    /* Estilos específicos para el botón de selección de archivo */
    padding: 4px 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  #createPostBtn{
    padding: 6px;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: #fefefe;
    font-size: 16px;
    width: 40%;
    cursor: pointer;
   margin-left: 30%;
   margin-right: 30%;
    
  }
 #post-element{
text-align: center;
 }
  /* Estilos para las publicaciones */
  #postsContainer {
    margin-top: 20px;
   
  }
  
  #postsContainer > div {
    border: 1px solid #343131;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 25px;
  }
  
  #postsContainer > div > h3 {
    margin: 0;
    color: white;
  }
  
  #postsContainer > div > img {
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .login-container {
    display: absolute;
    background: white;
    border-radius: 10px;
    
  }
  .login-container h1{
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 4px solid #007bff;

  }
  
  @media (max-width: 768px) {
    .login-container {
      max-width: 90%;
      padding: 20px;
    }
  }
  
  
  
  .login-container input[type="text"],
  .login-container input[type="email"],
  .login-container input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border:none;
    margin-left:30px;
  }
  
  .login-container button {
    width: 90%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin:0.1em;
    border-radius:10px;   
    margin-left:35px;  

  }
  
  .login-container button:hover {
    background-color: #0d1c2c;
  }
  #logoutBtn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
  }
  
  #logoutBtn:hover {
    background-color: #0069d9;
  }

  .register{
    text-align: center;
    margin: 30px 0;
    padding: 0 0 40px 0;
  }
  .loginLink{
    text-align: center;
    margin: 30px 0;
    padding: 0 0 40px 0;
  }

.figura{
  width: 100%;

  
}
.delete-button{
  background-color:red;
  cursor: pointer;
  
  color: #fff;
  padding: 4px 10px;
  border: none;
  border-radius: 5px;
}
.like-button{
  cursor: pointer;
  margin-right: 4px;
  background-color: #6b7f95;
  color: #fff;
  padding: 4px 10px;
  border: none;
  border-radius: 5px;

}
.count-like{
  font-size: 16px;
  color: #fff;
}
.edit-button{
  cursor: pointer;
  margin-right: 8px;
  margin-left: 10px;
  background-color: #8a956b;
  color: #fff;
  padding: 4px 10px;
  border: none;
  border-radius: 5px;
}

